<div class="row">
    <div class="col">
        <div style="height:100vh;" class="d-flex flex-column justify-content-center align-content-center">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="card-title d-flex flex-column justify-content-center align-items-center align-content-center">
                        <h1 class="mb-0">ytbdldr</h1>
                        <p class="mb-5 mt-0">by Dejo v1.0</p>
                    </div>
                    <div class="card-text">
                        <form action="/download" method="POST">
                            <div class="d-flex">
                                <input name="urlInput" class="flex-fill" placeholder="Video URL e.g. https://www.youtube.com/watch?v=MtN1YnoL46Q">
                                <button type="submit" class="btn btn-primary ml-2">Convert</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="progress">
                {{> progress }}
            </div>
        </div>
    </div>
</div>
